@page "/about"

<h3>Sobre nós</h3>
<p>Desenvolvido por André de Oliveira Gasparoni Pinto, Com o apoio de Roahn Cavalieri Tavares dos Santos.</p>
<p>Finalizado dia 19/01/2023</p>
<p >
    Rede social: <a href="https://www.linkedin.com/in/andre-oliveira-b77ba1206/" target="_blank">Linkedin</a>
</p>

@code {

}
