@inject ControlOfPrinters.Data.DataContext Context
@inject NavigationManager Navigation
@using Microsoft.EntityFrameworkCore
@page "/Printer/Delete/{id:int}"

<h3>PrinterDelete</h3>

<EditForm Model=@Model OnValidSubmit="DeletePrinterAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div>
        <label class="form-label">Ip</label>
        <InputText @bind-Value="Model.Ip" class="form-control" readonly/>
        <ValidationMessage For="@( () => Model.Ip)"/>
    </div>
    <button type="submit" class="btn btn-danger">Deletar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private Entities.Printer Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await Context.printers.AsTracking().FirstOrDefaultAsync<ControlOfPrinters.Entities.Printer>(x => x.Id == Id);
    }

    public async Task DeletePrinterAsync()
    {
        try
        {
            if (Model != null)
            {
                Context.Entry(Model).State = EntityState.Detached; // Detach the entity from the context
                Context.printers.Remove(Model);
                await Context.SaveChangesAsync();
                Navigation.NavigateTo("/", true);
            }
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., log or display an error message)
            Console.WriteLine($"Error deleting printer: {ex.Message}");
        }
    }
}
